---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: container-course-students
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/ziyotek-edu/container-gitops
    targetRevision: main
    path: manifests/generated

  destination:
    server: https://kubernetes.default.svc
    namespace: container-course-week01

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
